[submodule "extstore"]
	path = extstore
	url = ssh://gerrit.ccc.ocre.cea.fr:29418/extstore
	branch = next
[submodule "kvsal"]
	path = kvsal
	url = ssh://gerrit.ccc.ocre.cea.fr:29418/kvsal
	branch = next
[submodule "kvsns-base"]
	path = kvsns-base
	url = ssh://gerrit.ccc.ocre.cea.fr:29418/kvsns-base
	branch = next
[submodule "libiosea-hash"]
	path = libiosea-hash
	url = ssh://gerrit.ccc.ocre.cea.fr:29418/libiosea-hash
	branch = next
[submodule "libm0common"]
	path = libm0common
	url = ssh://gerrit.ccc.ocre.cea.fr:29418/libm0common
	branch = next
[submodule "GRH"]
	path = GRH
	url = ssh://gerrit.ccc.ocre.cea.fr:29418/GRH
	branch = next
