[submodule "extstore"]
	path = extstore
	url = https://github.com/io-sea/extstore.git 
	branch = next
[submodule "kvsal"]
	path = kvsal
	url = https://github.com/io-sea/kvsal.git 
	branch = next
[submodule "kvsns-base"]
	path = kvsns-base
	url = https://github.com/io-sea/kvsns-base.git 
	branch = next
[submodule "libiosea-hash"]
	path = libiosea-hash
	url = https://github.com/io-sea/libiosea-hash.git 
	branch = next
[submodule "libm0common"]
	path = libm0common
	url = https://github.com/io-sea/libm0common.git 
	branch = next
#[submodule "GRH"]
	path = GRH
	url = https://github.com/io-sea/GRH.git 
	branch = next
